@font-face{
font-family: Arial, Helvetica, sans-serif;
src: url(font/HelveticaNowDisplayXBlk.otf);

}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    
}

@media (min-width: 500px)
header nav {
    display: flex;
    align-items: center;
}

html,body {
	width: 100%;
	height: 100%;
}

body {
	background:
    background-repeat: no-repeat;
    background-image: url(img/bg-1.png);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: inherit;
    z-index: 20;
    max-width: 1140px;
    margin: auto;
}

header{
	height:70px;
	padding: 10px 0px 0px 0px;
    display: block;
}



#logo a {
	font-weight: bold;
	text-decoration: none;
	font-size: 26px;
    color: blanchedalmond;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-transform: uppercase;
    text-align: center;
}

#logo :hover {
    color: #4873f2;

}

nav {
	overflow: hidden;
	float: right;
    display: flex;
}

header nav .top-menu {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    color: blanchedalmond;

nav li {
	float:left;
	list-style: none;
}
nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

nav li a:hover {
	color: aqua;
}

main {
text-align: center;
}

#home {
	font-size: 30px;
	height:350px;
	margin: 55px 1px 1px 1px;
	padding: 30px;
}

#features {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#faq {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#contact {
	border-top-style: solid;
	line-height: 1.5;
	padding: 30px;
}

#main-watch img
{
    padding-left: 50px;
}